#first-part-header{
    width: 50%;
}

#second-part-header { 
    width: 50%;
    float: right;
}

.wrapper {
    display: flex;
}

.wrapper #second-part-header *{
    float: right;
    /*Need to separate buttons */
}

#second-part-footer{
    float:right;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}