#first-part-header{
    width: 50%;
    float:right;
    height: 100%;
}

#second-part-header{
    width: 50%;
    float:right;
}

#second-part-footer{
    float:right;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}